* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--color-secondary);
    font-family: "Inter", sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: 0;
    cursor: pointer;
    background-color: transparent;
}

li {
    list-style: none;
}

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    padding: 1.5rem;
}