* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


body {
    color: var(--color-secondary);
    font-family: "Inter", sans-serif;
}

section {
    padding: 5rem 2rem;
    gap: 4rem;
}

h2 {
    font-size: 2rem;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: 0;
    cursor: pointer;
    background-color: transparent;
    font-family: inherit;
}

li {
    list-style: none;
}

input, textarea {
    outline: none;
}

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}

.btn-acao {
    color: var(--color-white);
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 5px;
    background-color: var(--color-primary);
    text-transform: uppercase;
    transition: .3s ease-in-out;
}

.btn-acao:hover {
    transform: scale(1.05);
    background-color: #f38303;
}