header {
    padding: 1.5rem 0;
    align-items: center;
    justify-content: space-between;
}

header .logo a {
    margin-left: 5px;
}

header .logo span {
    color: var(--color-primary);
}

header nav ul {
    gap: 1.25rem;
}

header nav ul li a {
    position: relative;
    padding: 8px 15px;
    font-weight: 600;
    transition: .3s ease-in-out;
}

header nav ul li a:hover {
    color: var(--color-primary);
}

header nav ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: var(--color-primary);
    color: var(--color-primary);
    transition: .3s ease-in-out;
}

header nav ul li a:hover::after {
    width: 100%;
}


.btn-menu {
    display: none;
    font-size: 1.5rem;
    color: var(--color-primary);
}


main {
    color: var(--color-white);
    align-items: center;
    height: calc(100vh - 98px);
    background: url(../img/img-bg.jpg);
    background-position: center;
    background-size: cover;
    background-color: var(--color-white);
}

main .bg {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

main .hero {
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.hero .main-content h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
    width: 32rem;
}


.hero .main-content h2 {
    width: 30rem;
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: normal;
}

.card-form {
    width: 30%;
    color: var(--color-secondary);
    background-color: var(--color-white);
    border-radius: 10px;
    text-align: center;
}

.card-form h3 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    text-transform: capitalize;
}

.card-form form {
    padding: 1.5rem;
    gap: 1rem;
}

.card-form form input,
textarea {
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.card-form button span {
    margin-left: 10px;
}

.about {
    padding: 10rem 0;
    gap: 4rem;
}

.about .img-about {
    width: 50%;
    border-radius: 10px;
}

.about .content-about {
    gap: 1rem;
}

.about .content-about p {
    line-height: 1.5rem;
}

.about .content-about ul {
    gap: 1rem;
    margin-left: 2rem;
}

.about .content-about li {
    list-style: disc;
}

.about .content-about .text-destaque {
    color: var(--color-primary);
    font-weight: 600;
    font-size: 1.15rem;
}


.beneficios {
    text-align: center;
    padding: 5rem 0;
    background-color: #ececec;
    gap: 2rem;
    align-items: center;
}

.beneficios h2 {
    margin-bottom: 4rem;
}

.group-beneficios {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.beneficio-item {
    padding: 0 30px;
    height: 18rem;
    justify-content: center;
    flex: 1 1 300px;
    max-width: 350px;
    gap: 1.5rem;
    border-radius: 10px;
    background-color: var(--color-white);
}

.beneficio-item i {
    font-size: 3rem;
    color: var(--color-primary);
}

.beneficio-item .content-beneficio-item {
    gap: 0.5rem;
}




@media (max-width: 1024px) {

    .container {
        padding: 2.5rem;
    }

    header .btn-acao {
        display: none;
    }

    .menu {
        width: 100%;
        position: absolute;
        top: 80px;
        right: 0;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        padding: 2rem 0;
        background-color: var(--white);
        display: none;
    }

    .menu.active {
        display: flex;
        background-color: var(--color-white);
    }

    .btn-menu {
        display: flex;
    }

    main {
        height: 100%;
    }

    main .hero {
        flex-direction: column;
        gap: 2rem;
        text-align: center;
    }

    .hero .main-content h1 {
        font-size: 2rem;
    }

    .hero .main-content h1,
    .hero .main-content h2 {
        width: 100%;
    }

    .card-form {
        width: 100%;
        max-width: 400px;
    }


    .about {
        align-items: center;
        flex-direction: column-reverse;
    }

    .about .img-about {
        width: 100%;
        max-width: 500px;
    }
}