header {
    position: fixed;
    width: 100%;
    background-color: var(--color-white);
    z-index: 999;
}

header .container {
    padding: 1.5rem 0;
    align-items: center;
    justify-content: space-between;
}

header nav ul {
    gap: 1.25rem;
}

header nav ul li a {
    position: relative;
    padding: 8px 15px;
    font-weight: 600;
    transition: .3s ease-in-out;
}

header nav ul li a:hover {
    color: var(--color-primary);
}

header nav ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: var(--color-primary);
    color: var(--color-primary);
    transition: .3s ease-in-out;
}

header nav ul li a:hover::after {
    width: 100%;
}


.btn-menu {
    display: none;
    font-size: 1.5rem;
    color: var(--color-primary);
}


main {
    color: var(--color-white);
    align-items: center;
    height: 100vh;
    background: url(../img/img-bg.jpg);
    background-position: center;
    background-size: cover;
    background-color: var(--color-white);
}

main .bg {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

main .hero {
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.hero .main-content h1 {
    margin-bottom: 1rem;
    font-size: 4rem;
    width: 32rem;
}


.hero .main-content h2 {
    width: 30rem;
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: normal;
}

.card-form {
    width: 40%;
    color: var(--color-secondary);
    background-color: var(--color-white);
    border-radius: 10px;
    text-align: center;
    padding: 20px 15px;
}

.card-form h3 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.card-form form {
    padding: 1.5rem;
    gap: 1rem;
}

.card-form form input,
textarea {
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.card-form button span {
    margin-left: 10px;
}

.about {
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
    align-items: center;
}

.galeria {
    flex: 1 1 400px;
    max-width: 500px;
}

.galeria-grid {
    display: grid;
    grid-template-areas:
        "grande pequena1"
        "grande pequena2";
    gap: 0.5rem;
}

.img-grid {
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.img-grid.grande {
    grid-area: grande;
}

.img-grid.pequena1 {
    grid-area: pequena1;
}

.img-grid.pequena2 {
    grid-area: pequena2;
}

.content-about {
    flex: 1 1 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.content-about h2 {
    margin-bottom: 1rem;
}

.lista-detalhes {
    list-style: none;
    padding: 0;
}

.lista-detalhes li {
    margin-bottom: 0.75rem;
    display: flex;
    align-items: center;
}

.lista-detalhes li i {
    color: var(--color-primary);
    margin-right: 0.5rem;
}

.text-destaque {
    margin-top: 1rem;
    font-weight: bold;
    color: var(--color-primary);
}

.destinos {
    position: relative;
}

.destinos .container {
    gap: 4rem;
}

.destinos .mapa {
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 30%;
}

.destinos .voo {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.2;
    width: 40%;
}

.destinos h2 {
    font-size: 2.5rem;
    text-align: left;
    text-transform: capitalize;
}

.destinos h2 span {
    color: var(--color-primary);
}

.destinos .top-destinos {
    gap: 1rem;
    align-items: center;
    z-index: 2;
}

.destinos .group-lugares {
    flex-wrap: wrap;
    gap: 2rem;
}

.group-lugares .lugar-item {
    height: 30rem;
    position: relative;
    flex: 1 1 300px;
    max-width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.group-lugares .lugar-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.lugar-item i {
    font-size: 20px;
    color: red;
}

.lugar-item .tag {
    position: absolute;
    bottom: 20px;
    right: 20px;
    ;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    border-radius: 10px;
    font-size: 14px;
    background-color: var(--color-white);
}


.beneficios {
    text-align: center;
    background-color: #ececec;
    gap: 2rem;
    align-items: center;
}

.beneficios h2 {
    margin-bottom: 10rem;
}

.beneficios .container h2 span {
    color: var(--color-primary);
}

.group-beneficios {
    display: flex;
    flex-wrap: wrap;
    gap: 10rem;
    justify-content: center;
}

.beneficio-item {
    max-width: 65rem;
    position: relative;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 2rem;
    background-color: var(--color-white);
}

.beneficio-item img {
    width: 50%;
    position: absolute;
    top: -10vh;
    left: -4vw;

}

.beneficio-item h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.beneficio-item-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.beneficio-item-content i {
    font-size: 3rem;
    color: var(--color-primary);
}

.beneficio-item-content .text-beneficio-item {
    line-height: 1.5rem;
}



.perguntas {
    gap: 4rem;
    flex-wrap: wrap;
}

.perguntas .left-perguntas {
    flex: 1;
    gap: 0.5rem;
    align-items: start;
}

.left-perguntas img {
    width: 50px;
}

.left-perguntas strong {
    color: var(--color-primary);
}

.left-perguntas .btn-acao {
    margin-top: 2rem;
}

.perguntas .group-perguntas {
    flex: 1;
    gap: 2rem;
    flex-wrap: wrap;
}

.group-perguntas .pergunta-item {
    position: relative;
    overflow: hidden;
    flex: 1 1 400px;
    cursor: pointer;
    border: 2px solid var(--color-secondary);
    transition: .3s ease-in-out;
    padding: 20px;
    gap: 1rem;
    border-radius: 5px;
    transition: color 0.3s ease;
}

.pergunta-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary);
    transition: all 0.5s ease;
    z-index: -1;
}

.pergunta-item:hover::before {
    left: 0;
}

.pergunta-item>* {
    position: relative;
    z-index: 9;
}

.group-perguntas .pergunta-item:hover {
    color: var(--color-white);
    border: 2px solid var(--color-primary);
}

.group-perguntas .pergunta-item .top-pergunta-item {
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
}

.group-perguntas .pergunta-item .top-pergunta-item span {
    gap: 1rem;
    align-items: center;
}

.group-perguntas .pergunta-item p {
    display: none;
}

.pergunta-item.ativo p {
    display: block;
    color: var(--color-secondary);
}



.chamada-acao {
    gap: 1rem;
    color: var(--color-white);
    background-color: var(--color-primary);
}

.chamada-acao .container {
    gap: 4rem;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.chamada-acao .content-chamada h2 {
    font-size: 3rem;
    width: 30rem;
}

.chamada-acao .content-chamada {
    gap: 1rem;
}

.chamada-acao .content-chamada p {
    width: 30rem;
}

.chamada-acao .card-chamada {
    width: 50%;
    align-items: center;
    gap: 2rem;
    padding: 4rem;
    text-align: center;
    font-size: 1.15rem;
    color: var(--color-primary);
    border-radius: 5px;
    background-color: var(--color-white);
}

.footer {
    gap: 4rem;
    padding: 4rem;
}

.footer .content-footer {
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer .left-footer {
    gap: 1rem;
}

.footer .left-footer p {
    width: 30rem;
}

.footer .left-footer .redes-sociais ul {
    gap: 1rem;
}

.footer .left-footer .redes-sociais ul li a i {
    font-size: 1.5rem;
    transition: .3s ease-in-out;
}

.footer .left-footer .redes-sociais ul li a i:hover {
    color: var(--color-primary);
}

.footer .links-footer h4 {
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: var(--color-primary);
}

.footer .links-footer ul {
    gap: 1rem;
}

.footer .links-footer ul li a {
    transition: .3s ease-in-out;
}

.footer .links-footer ul li a:hover {
    color: var(--color-primary);
    text-decoration: underline;
}

.footer .copyright {
    text-align: center;
    padding-top: 2rem;
    border-top: 1px solid #f3f2f2;
}

.footer .copyright .link-emilly {
    color: var(--color-primary);
    text-decoration: underline;
}

@media (max-width: 1024px) {

    header {
        position: static;
        padding: 1rem 1.5rem;
    }

    section {
        padding: 0;
    }

    h2 {
        font-size: 1.75rem;
    }

    .container {
        padding: 2rem;
    }

    header .btn-acao {
        display: none;
    }

    .menu {
        width: 100%;
        position: absolute;
        top: 80px;
        right: 0;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        padding: 2rem 0;
        background-color: var(--color-white);
        display: none;
    }

    .menu.active {
        display: flex;
        background-color: var(--color-white);
    }

    .btn-menu {
        display: flex;
    }

    main {
        height: 100%;
    }

    main .hero {
        flex-direction: column;
        gap: 2rem;
        text-align: center;
    }

    .hero .main-content h1 {
        font-size: 2rem;
    }

    .hero .main-content h1,
    .hero .main-content h2 {
        width: 100%;
    }

    .card-form {
        width: 100%;
        max-width: 400px;
    }

    .card-form form {
        padding: 1rem;
    }

    .about {
        flex-direction: column-reverse;
    }

    .galeria-grid {
        grid-template-areas:
            "grande"
            "pequena1"
            "pequena2";
    }

    .destinos .voo,
    .destinos .mapa {
        display: none;
    }

    .beneficios {
        gap: 0;
        padding: 2rem 0;
    }

    .beneficios h2 {
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }

    .beneficio-item {
        max-width: 500px;
    }

    .beneficio-item h3 {
        font-size: 1.5rem;
    }

    .beneficio-item img {
        position: static;
        width: 100%;
        margin-bottom: 2rem;
    }

    .beneficio-item-content {
        width: auto;
    }

    .beneficio-item-content .text-beneficio-item {
        font-size: 18px;
        line-height: 2rem;
    }

    .group-beneficios {
        gap: 5rem;
    }

    .group-perguntas .pergunta-item {
        padding: 15px;
    }

    .chamada-acao .container {
        gap: 2rem;
    }

    .chamada-acao .content-chamada h2,
    .chamada-acao .content-chamada p {
        width: auto;
    }

    .chamada-acao .content-chamada h2 {
        font-size: 1.75rem;
    }

    .chamada-acao .card-chamada {
        width: 100%;
        padding: 2rem;
    }

    .chamada-acao .card-chamada {
        font-size: 16px;
    }

    .footer .content-footer {
        gap: 2rem;
    }

    .footer .left-footer p {
        width: auto;
    }

    .hidden {
        opacity: 1;
        filter: blur(o);
        transform: translateX(0);
        transition: none;
    }
}